*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
    color: black;
    background-image: url('Fondoo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-button{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-button a {
    text-decoration: none;
    background: #eff3118e;
    color: azure;
    border: none;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all 3.0s;

}

.modal-content{
    padding: 20px;
    position: relative;
    width: 500px;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0 0 0 / .15);
}

.modal-content h2{
    margin-top: 10px;
}

.modal-content p{
    margin: 20px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0 0 0 / .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn a {
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

.close-btn a:hover{
    color: rgb(255, 30, 0);

}

.modal:target{
    visibility: visible;
    opacity: 1;
}


.button-container {
    width: 95%;
    position: absolute;
    bottom: 20px;
    left: 3%;
    display: flex;
    justify-content: space-between;
    padding: 10 40px;
}

.button-container a {
    text-decoration: none;
    background: #0000007c;
    color: azure;
    border: none;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
